.data-con{
    width: 18vw;
    height: 26vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3vh;
    padding: 1vw 2vh;
    text-align: center;
    font-size: 20px;
    .data{
        font-size: 30px;
        margin-top: 5vh;
    }
}