.data-panel{
    display: flex;
    justify-content: space-around;
}
.chart-sel{
    margin: 3vh auto;
    background-color: white;
    width: 60vw;
    height: 50vh;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}