.header{
    display: grid;
    color: white;
    grid-template-columns:7% 75% 6% 6% 6%;
    .logo{
        width: 65px;
        height: 65px;
    }
    .pro-name{
        font-size: 18px;
        color: #0392fd;
    }
}
.input{
    margin-top: 4vh;
}
.tips{
    visibility: hidden;
}
.tips-show{
    font-size: 12px;
    color: red;
    visibility: visible;
}

